
/* Clip-path polygon */

$polygon-left: polygon(0 0, 100% 0, 67% 100%, 0% 100%);
$polygon-right: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
$title-section-polygon: polygon(0 0, 100% 0, 100% 65%, 0 100%);
$straight-title-section-polygon: polygon(0 0, 100% 0, 100% 100%, 0 100%);
$left-title-section-polygon: polygon(0 0, 100% 0, 100% 100%, 0 67%);
$polygon-default: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

/* Colors */

$content_color: #2a2727;
$page_main_color: #ff5051;
$page_second_color: #ffd194;
$menu_font_color: #ffffff;
$block_bg: #ffffff;
$width: 3px;


/* Fonts */

$title_font: 'Comfortaa', cursive;
$content_font: 'Open Sans', sans-serif;

/* Others variables */

$box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);