
@import "mixin";
@import "variables";

// Main styles 

html, body {
    height: 100%;
    // line-height: 1.2;
}

#page-wrapper {
    position: relative;
    overflow: hidden;
}

.margin-wrapper {
    margin: 0 90px;
}

h2 {
    color: $content_color;
    font-family: $title_font;
    font-size: 5em;
    text-align: left;
    margin-bottom: 100px;
}

h3 {
    color: $content_color;
    font-family: $title_font;
    font-size: 2.5em;
    text-align: left;
    margin-bottom: 70px;
}

h4 {
    color: $content_color;
    font-family: $content_font;
    font-size: 1.3em;
    font-weight: 600;
    text-align: right;
    margin-right: 30px;
}

p {
    font-family: $content_font;
    font-size: 1.5em;
}

a.bd_btn {
    display: block;
    color: $content_color;
    font-family: $title_font;
    font-size: 1.7em;
    width: 250px;
    text-align: center;
    text-decoration: none;
    border: 6px solid $page_main_color;
    border-radius: 70px;
    padding: 10px;
    line-height: 35px;
}

a.carousel_btn {
    @include linear-gradient($page_main_color, $page_second_color);
    box-shadow: $box-shadow;
    border-radius: 50px;
    font-family: $title_font;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color: $content_color;
    position: absolute;
    padding: 10px 10px;
    bottom: -30px;
    left: 50%;
    margin-left: -190px;
    width: 380px;
}

// ----------------------


// Parallax images

#parallax_img1 {
    position: absolute;
    right: 0;
    top: 50px;
}

#parallax_img2 {
    position: absolute;
    right: 0;
    top: 2700px;
}

#parallax_img3 {
    position: absolute;
    right: 0;
    top: 5000px;
}

#parallax_img4 {
    position: absolute;
    right: -500px;
    bottom: -230px;
}

#parallax_img5 {
    position: absolute;
    top: 200px;
    right: -900px;
    z-index: 101;
}

#parallax_img6 {
    position: absolute;
    top: 800px;
    left: -1000px;
    z-index: 101;
}

#parallax_img7 {
    position: absolute;
    right: -600px;
    top: 1200px;
}

#parallax_img8 {
    position: absolute;
    right: -200px;
    top: 1200px;
}

// -----------------------


// Menu section

#menu_section {
    @include linear-gradient($page_main_color, $page_second_color);
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 102;

    h2 {
        font-family: $title_font;
        font-size: 3.5em;
        color: $menu_font_color;
        margin-left: 20px;
        margin-top: 12px;
        float: left;
    }

    ul {
        list-style-type: none;
        float: right;
        padding-top: 25px;
    
        li {
            float: left;
            margin-right: 30px;
    
            a {
                color: $menu_font_color;
                font-family: $content_font;
                font-size: 1.7em;
                text-decoration: none;
            }
        }
    }

    #toggle {
        display: none;
    }

    #overlay {
        display: none;
    }
     
}


// ----------------------


// Header section

#header_section {
    width: 100%;
    height: 100%;
    
    position: relative;


    .header_content_wrapper_small_screen {
        display: none;
        position: absolute;
        width: 100%;
        min-height: 100%;
        padding-top: 150px;
    }
}

.header_content_wrapper {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-top: 150px;

    header {
        max-width: 550px;
        margin: 0 auto;
        margin-top: 100px;
    }

    h2 {
        color: $page_main_color;
        text-align: center;
    }

    p {
        font-size: 1.8em;
        text-align: center;
        margin-top: 20px;
    }

    .btn_container {
        text-align: center;
        margin-top: 50px;

        a {
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;
        }

    }
}

.img_effect {
    display: block;
    @include transition(ease-in-out,.5s);
}

.img_border {
    @include border-gradient($page_second_color, $page_main_color, $width);
    width: 560px;
    height: 750px;
    position: absolute;
    top: -30px;
    left: 50px;
    @include transition(ease-in-out,.5s);
    
    &:hover {
        left: 10px;
        top: 30px;
    }

    
}

.img_border:hover + .img_effect {
    margin-left: 30px;
    margin-top: -30px;
}

// ----------------------


// Aim section

#aim_section {
    height: 1000px;

    #aim_section, ::after, ::before {
        -webkit-box-sizing: initial;
        box-sizing: initial;
    }

    .right_side {
        float: left;
        width: 50%;
        height: 100%;
        position: relative;

        h2 {
            color: $page_main_color;
            font-family: $content_font;
            font-size: 7em;
            font-weight: 700;
            text-align: center;
            position: absolute;
            top: 340px;
            left: 50%;
            margin-left: -355px;
            width: 710px;
        }

        article {
            margin: 0 auto;
            margin-top: 100px;
            width: 710px;

            header {
                color: #ff826b;
                font-family: $content_font;
                font-size: 4em;
                font-weight: 800;
                width: 630px;
                line-height: 1.2;
                margin-bottom: 50px;
            }

            p {
                font-size: 1.3em;
            }

            .carousel_btn {
                bottom: 70px;
            }

        }

    }

    .left_side {
        color: #ffffff;
        background-color: #fde1be;
        font-family: $content_font;
        font-weight: bold;
        float: right;
        width: 50%;
        height: 100%;
        position: relative;
        text-align: center;
        padding-top: 50px;

        h2 {
            color: #ff5a56;
            font-family: $content_font;
            font-size: 5em;
            font-weight: 800;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 0;
        }

        h3 {
            color: #ff5a56;
            font-weight: bold;
            text-align: center;
            margin-top: 50px;
        }

        .carousel_btn {
            bottom: 70px;
        }
    }
}
 

 // ----------------------


  .left_side svg.circle-chart {
    width: 350px;
    height: 350px;
  }

 .circle-chart__circle {
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(.5em);
  }

  .left_side svg.circle-chart {
    width: 350px;
    height: 350px;
  }

  .left_side svg g text.circle-chart__percent {
    font-size: .6em;
  }
  
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}


// Carousel secction

#carousel_section {
    margin-top: 70px;
    margin-bottom: 100px;
    position: relative;

    #carousel_nav {
        width: 500px;
        border: 6px solid #ff5051;
        border-radius: 50px;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        margin-top: 20px;

        .nav-tabs {
            border-bottom: none;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            background-color: #ff5051;
            color: #464a4c;
            border-color: #ff5051; 
        }

        .nav-tabs .nav-link {
            border: 2px solid #ff5051;
        }

        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
            border-color: #ff5051;
        }

        a {
            background-color: transparent;
            border-radius: 50px;
            color: #000;
            font-family: $title_font;
            font-size: 2em;
            width: 50px;
            height: 50px;
            padding: 2px;
            margin: 0 auto;
            position: relative;
        }

        a.first_point::after {
            content: "Соціальні";
            position: absolute;
            top: 90px;
            left: 50%;
            margin-left: -80px;
            width: 170px;
        }

        a.second_point::after {
            content: "Медичні";
            position: absolute;
            top: 90px;
            left: 50%;
            margin-left: -73px;
            width: 146px;

        }

    }

    .arrows_block {
        max-width: 1400px;
        padding: 20px;
        margin: 50px auto;
        position: relative;

        a {
            border: 10px solid $page_second_color;
            color: $content_color;
            display: block;
            font-family: $title_font;
            font-size: 3em;
            text-align: center;
            text-decoration: none;
            width: 430px;
            padding: 5px;
            margin: 0 auto;
        }

        .img_left {
            position: absolute;
            left: 0;
        }

        .img_right {
            position: absolute;
            right: 0;
        }
    }
}

// ----------------------


// Insert section

#insert {
    margin-bottom: 100px;

    h2 {
        margin-bottom: 50px;
    }

    p {
        font-size: 1.8em;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    img {  
        position: relative;
        margin: 0 auto;
        margin-top: 70px; 
        display: block;
    }

    .carousel_btn {
        width: 500px;
        margin-left: 150px;
        font-size: 3em;
        bottom: 370px;
    }
}

// ----------------------


// Blog section

#blog_section {
    margin-bottom: 100px;

    .blog_article {
        box-shadow: $box-shadow;
        padding-bottom: 100px;
        max-width: 590px;
        margin: 0 auto;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}

// ----------------------


// Partners section

#partners_section {
    margin-top: 150px;
    margin-bottom: 100px;
}

// ----------------------


// About Us section

#about_us_section {
    margin-top: 150px;
    margin-bottom: 150px;
    height: 750px;

    .small_screen_img {
        display: none;
    }

    h2 {
        margin-bottom: 50px;
    }

    p {
        padding-right: 50px;  
        font-size: 1.8em;  
    }

    article {
        margin-top: 50px;
    }

    h4 {
        text-align: left;
    }

    .bd_btn {
        display: block;
        width: 465px;
        margin: 70px auto;
    }

}

// ----------------------


// About Us Page

#about_us_page {
    margin: 100px 90px;

    .about-us_founder {
        height: 750px;
        padding-top: 50px;
    }

    h2 {
        margin-bottom: 50px;
    }

    p {
        padding-right: 50px;  
        font-size: 1.8em;  
    }

    article {
        margin-top: 50px;
    }

    h4 {
        text-align: center;
        font-weight: bold;

        span {
            color: $page_second_color;
        }
    }

    .bd_btn {
        display: block;
        width: 465px;
        margin: 70px auto;
    }

    .about-us_team {
        height: 600px;
        margin-top: 150px;
        margin-bottom: 50px;

        .img_border {
            width: 909px;
            height: 560px;
        }
    }

    .about-us_projects {

        h3 {
            text-align: center;
        }
        
        img {
            display: block;
            margin: 0 auto;
        }

        p {
            margin-top: 50px;
        }
    }

}

// ----------------------


// Project page

#project_section {
    margin: 150px 50px;

    img {
        display: block;
        margin: 0 auto;
    }

    h3 {
        margin-bottom: 50px;
        margin-top: 50px;
        text-align: center;
    }

    article.list_wrapper {
        width: 500px;
        margin: 0 auto;

        p {
            font-size: 2em;
    
            span {
                font-weight: bold;
            }
        }
    
        ul {
            list-style: none;
    
            li {
                font-family: $content_font;
                font-size: 2em;
                
    
                &::before {
                    content: "• ";
                    color: $page_second_color;
                }
            }
        }
    }

    #btn_wrapper {
        margin-top: 100px;
    }

    .carousel_btn {
        display: block;
        position: relative;
        padding: 10px 20px;
        left: auto;
        margin: 0 auto;
        width: 550px;
    }

    .documents {
        margin-bottom: 100px;
    }

    .project_circle_wrapper {
        text-align: center;
    }

}

// ----------------------


// All projects

.all_projects {
    margin: 150px 100px;
    
    #carousel_section {
    
        #carousel_nav {
            a {
                background-color: transparent;
                border-radius: 50px;
                color: #000;
                font-family: $title_font;
                font-size: 1.3em;
                width: 50px;
                height: 50px;
                padding: 2px;
                margin: 0 auto;
                position: relative;
            }
    
            a.first_point::after {
                content: "Всі проекти";
                position: absolute;
                top: 90px;
                left: 50%;
                margin-left: -80px;
                width: 170px;
            }
    
            a.second_point::after {
                content: "Соціальні";
                position: absolute;
                top: 90px;
                left: 50%;
                margin-left: -73px;
                width: 146px;
    
            }

            a.third_point::after {
                content: "Медичні";
                position: absolute;
                top: 90px;
                left: 50%;
                margin-left: -73px;
                width: 146px;
    
            }
    
        }

        .tab-content {
            margin-top: 50px;

            .col-lg-4 {
                margin-bottom: 150px;
            }
        }

    }
}

// ----------------------


// Partners section

#partners_section {
    margin: 150px 100px;

    header {
        text-align: center;
        margin-top: 100px;

        h2 {
            margin-bottom: 50px;
            text-align: center;
        }

        p {
            font-size: 2em;
            margin-bottom: 100px;
        }

    }

    img {
        display: block;
    }

    h3 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    p {
        text-align: center;
    }

}

// ----------------------


// Contacts page

#contact_page_content {
    margin: 150px 100px;

    article {
        margin-bottom: 50px;
    }

    h2 {
        margin-bottom: 50px;
    }

    h3 {
        font-weight: 700;
        margin-bottom: 50px;
    }

    p {
        font-size: 2.2em;
    }
}

// ----------------------


// Contacts section

#contacts_section {
    margin-bottom: 100px;

    h2 {
        margin-bottom: 50px;
    }

    p {
        font-size: 2.2em;
    }

    .icons_block {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;

        a {
            color: $page_main_color;
            display: inline-block;
            
            font-size: 6em;
            // margin-left: 20px;
            margin-right: 30px;
            text-align: center;
            text-decoration: none;
        }
    }

    h3 {
        text-align: center;
    }
}

// ----------------------


// Footer section

#footer_section {
    box-shadow: $box-shadow;
    padding-bottom: 100px;
    position: relative;
    padding-top: 50px;

    .footer_nav {

        ul {
            list-style-type: none;

            li {
                margin-bottom: 20px;

                a {
                    color: $content_color;
                    font-family: $content_font;
                    font-size: 2em;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }

    }

    .footer_arrow {
        position: absolute;
        width: 500px;
        top: 0;
        left: 50%;
        margin-left: -250px;
        text-align: center;

        a {
            color: $page_main_color;
            font-size: 7em;
            text-decoration: none;
        }

        h2 {
            color: $page_main_color;
            margin-bottom: 0;
            text-align: center;
        }
    }
    
}

// ----------------------