@charset "UTF-8";
/* Clip-path polygon */
/* Colors */
/* Fonts */
/* Others variables */
html, body {
  height: 100%;
}

#page-wrapper {
  position: relative;
  overflow: hidden;
}

.margin-wrapper {
  margin: 0 90px;
}

h2 {
  color: #2a2727;
  font-family: "Comfortaa", cursive;
  font-size: 5em;
  text-align: left;
  margin-bottom: 100px;
}

h3 {
  color: #2a2727;
  font-family: "Comfortaa", cursive;
  font-size: 2.5em;
  text-align: left;
  margin-bottom: 70px;
}

h4 {
  color: #2a2727;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  text-align: right;
  margin-right: 30px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

a.bd_btn {
  display: block;
  color: #2a2727;
  font-family: "Comfortaa", cursive;
  font-size: 1.7em;
  width: 250px;
  text-align: center;
  text-decoration: none;
  border: 6px solid #ff5051;
  border-radius: 70px;
  padding: 10px;
  line-height: 35px;
}

a.carousel_btn {
  background: #ffd194;
  background: -webkit-gradient(linear, right top, left top, from(#ff5051), to(#ffd194));
  background: linear-gradient(to left, #ff5051 0%, #ffd194 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff5051, endColorstr=#ffd194);
  -webkit-box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);
          box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);
  border-radius: 50px;
  font-family: "Comfortaa", cursive;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  color: #2a2727;
  position: absolute;
  padding: 10px 10px;
  bottom: -30px;
  left: 50%;
  margin-left: -190px;
  width: 380px;
}

#parallax_img1 {
  position: absolute;
  right: 0;
  top: 50px;
}

#parallax_img2 {
  position: absolute;
  right: 0;
  top: 2700px;
}

#parallax_img3 {
  position: absolute;
  right: 0;
  top: 5000px;
}

#parallax_img4 {
  position: absolute;
  right: -500px;
  bottom: -230px;
}

#parallax_img5 {
  position: absolute;
  top: 200px;
  right: -900px;
  z-index: 101;
}

#parallax_img6 {
  position: absolute;
  top: 800px;
  left: -1000px;
  z-index: 101;
}

#parallax_img7 {
  position: absolute;
  right: -600px;
  top: 1200px;
}

#parallax_img8 {
  position: absolute;
  right: -200px;
  top: 1200px;
}

#menu_section {
  background: #ffd194;
  background: -webkit-gradient(linear, right top, left top, from(#ff5051), to(#ffd194));
  background: linear-gradient(to left, #ff5051 0%, #ffd194 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff5051, endColorstr=#ffd194);
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 102;
}

#menu_section h2 {
  font-family: "Comfortaa", cursive;
  font-size: 3.5em;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 12px;
  float: left;
}

#menu_section ul {
  list-style-type: none;
  float: right;
  padding-top: 25px;
}

#menu_section ul li {
  float: left;
  margin-right: 30px;
}

#menu_section ul li a {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7em;
  text-decoration: none;
}

#header_section {
  width: 100%;
  height: 100%;
  position: relative;
}

.header_content_wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-top: 150px;
}

.header_content_wrapper header {
  width: 550px;
  margin: 0 auto;
  margin-top: 100px;
}

.header_content_wrapper h2 {
  color: #ff5051;
  text-align: center;
}

.header_content_wrapper p {
  font-size: 1.8em;
  text-align: center;
  margin-top: 20px;
}

.header_content_wrapper .btn_container {
  text-align: center;
  margin-top: 50px;
}

.header_content_wrapper .btn_container a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.img_effect {
  display: block;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.img_border {
  border-top: 3px solid #ffd194;
  border-bottom: 3px solid #ff5051;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd194), to(#ff5051)), -webkit-gradient(linear, left top, left bottom, from(#ffd194), to(#ff5051));
  background-image: linear-gradient(#ffd194, #ff5051), linear-gradient(#ffd194, #ff5051);
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 560px;
  height: 750px;
  position: absolute;
  top: -30px;
  left: 50px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.img_border:hover {
  left: 10px;
  top: 30px;
}

.img_border:hover + .img_effect {
  margin-left: 30px;
  margin-top: -30px;
}

#aim_section {
  height: 1000px;
}

#aim_section #aim_section, #aim_section ::after, #aim_section ::before {
  -webkit-box-sizing: initial;
  box-sizing: initial;
}

#aim_section .right_side {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

#aim_section .right_side h2 {
  color: #ff5051;
  font-family: "Open Sans", sans-serif;
  font-size: 7em;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 340px;
  left: 50%;
  margin-left: -355px;
  width: 710px;
}

#aim_section .right_side article {
  margin-top: 100px;
  padding-left: 150px;
}

#aim_section .right_side article header {
  color: #ff826b;
  font-family: "Open Sans", sans-serif;
  font-size: 4em;
  font-weight: 800;
  width: 630px;
  line-height: 1.2;
  margin-bottom: 50px;
}

#aim_section .right_side article p {
  font-size: 1.3em;
  margin-right: 150px;
}

#aim_section .left_side {
  color: #ffffff;
  background-color: #fde1be;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
  padding-top: 50px;
}

#aim_section .left_side h2 {
  color: #ff5a56;
  font-family: "Open Sans", sans-serif;
  font-size: 5em;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}

#aim_section .left_side h3 {
  color: #ff5a56;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

#aim_section .left_side .carousel_btn {
  bottom: 70px;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse;
  /* 1 */
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  /* 2, 3 */
  -webkit-transform-origin: center;
          transform-origin: center;
  /* 4 */
}

.circle-chart__circle--negative {
  -webkit-transform: rotate(-90deg) scale(1, -1);
          transform: rotate(-90deg) scale(1, -1);
  /* 1, 2, 3 */
}

.circle-chart__info {
  -webkit-animation: circle-chart-appear 2s forwards;
          animation: circle-chart-appear 2s forwards;
  opacity: 0;
  -webkit-transform: translateY(0.5em);
          transform: translateY(0.5em);
}

@-webkit-keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@-webkit-keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#carousel_section {
  margin-top: 70px;
  margin-bottom: 100px;
  position: relative;
}

#carousel_section #carousel_nav {
  width: 500px;
  border: 6px solid #ff5051;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

#carousel_section #carousel_nav .nav-tabs {
  border-bottom: none;
}

#carousel_section #carousel_nav .nav-tabs .nav-item.show .nav-link, #carousel_section #carousel_nav .nav-tabs .nav-link.active {
  background-color: #ff5051;
  color: #464a4c;
  border-color: #ff5051;
}

#carousel_section #carousel_nav .nav-tabs .nav-link {
  border: 2px solid #ff5051;
}

#carousel_section #carousel_nav .nav-tabs .nav-link:focus, #carousel_section #carousel_nav .nav-tabs .nav-link:hover {
  border-color: #ff5051;
}

#carousel_section #carousel_nav a {
  background-color: transparent;
  border-radius: 50px;
  color: #000;
  font-family: "Comfortaa", cursive;
  font-size: 2em;
  width: 50px;
  height: 50px;
  padding: 2px;
  margin: 0 auto;
  position: relative;
}

#carousel_section #carousel_nav a.first_point::after {
  content: "Соціальні";
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -80px;
  width: 170px;
}

#carousel_section #carousel_nav a.second_point::after {
  content: "Медичні";
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -73px;
  width: 146px;
}

#carousel_section .arrows_block {
  max-width: 1400px;
  padding: 20px;
  margin: 50px auto;
  position: relative;
}

#carousel_section .arrows_block a {
  border: 10px solid #ffd194;
  color: #2a2727;
  display: block;
  font-family: "Comfortaa", cursive;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  width: 430px;
  padding: 5px;
  margin: 0 auto;
}

#carousel_section .arrows_block .img_left {
  position: absolute;
  left: 0;
}

#carousel_section .arrows_block .img_right {
  position: absolute;
  right: 0;
}

#insert {
  margin-bottom: 100px;
}

#insert h2 {
  margin-bottom: 50px;
}

#insert p {
  font-size: 1.8em;
  margin-left: 100px;
  margin-right: 100px;
}

#insert img {
  position: relative;
  margin: 0 auto;
  margin-top: 70px;
  display: block;
}

#insert .carousel_btn {
  width: 500px;
  margin-left: 150px;
  font-size: 3em;
  bottom: 370px;
}

#blog_section {
  margin-bottom: 100px;
}

#blog_section .blog_article {
  -webkit-box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);
          box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);
  padding-bottom: 100px;
  max-width: 590px;
  margin: 0 auto;
}

#blog_section img {
  display: block;
  margin: 0 auto;
}

#partners_section {
  margin-top: 150px;
  margin-bottom: 100px;
}

#about_us_section {
  margin-top: 150px;
  margin-bottom: 150px;
  height: 750px;
}

#about_us_section h2 {
  margin-bottom: 50px;
}

#about_us_section p {
  padding-right: 50px;
  font-size: 1.8em;
}

#about_us_section article {
  margin-top: 50px;
}

#about_us_section h4 {
  text-align: left;
}

#about_us_section .bd_btn {
  display: block;
  width: 465px;
  margin: 70px auto;
}

#about_us_page {
  margin: 100px 90px;
}

#about_us_page .about-us_founder {
  height: 750px;
  padding-top: 50px;
}

#about_us_page h2 {
  margin-bottom: 50px;
}

#about_us_page p {
  padding-right: 50px;
  font-size: 1.8em;
}

#about_us_page article {
  margin-top: 50px;
}

#about_us_page h4 {
  text-align: center;
  font-weight: bold;
}

#about_us_page h4 span {
  color: #ffd194;
}

#about_us_page .bd_btn {
  display: block;
  width: 465px;
  margin: 70px auto;
}

#about_us_page .about-us_team {
  height: 600px;
  margin-top: 150px;
  margin-bottom: 50px;
}

#about_us_page .about-us_team .img_border {
  width: 909px;
  height: 560px;
}

#about_us_page .about-us_projects h3 {
  text-align: center;
}

#about_us_page .about-us_projects img {
  display: block;
  margin: 0 auto;
}

#about_us_page .about-us_projects p {
  margin-top: 50px;
}

#project_section {
  margin: 150px 50px;
}

#project_section img {
  display: block;
  margin: 0 auto;
}

#project_section h3 {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

#project_section p {
  font-size: 2em;
}

#project_section p span {
  font-weight: bold;
}

#project_section ul {
  list-style: none;
}

#project_section ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
}

#project_section ul li::before {
  content: "• ";
  color: #ffd194;
}

#project_section .carousel_btn {
  display: block;
  position: relative;
  padding: 10px 20px;
  left: auto;
  margin: 0 auto;
  width: 550px;
}

#project_section .documents {
  margin-bottom: 100px;
}

#project_section .project_circle_wrapper {
  text-align: center;
}

.all_projects {
  margin: 150px 100px;
}

.all_projects #carousel_section #carousel_nav a {
  background-color: transparent;
  border-radius: 50px;
  color: #000;
  font-family: "Comfortaa", cursive;
  font-size: 1.3em;
  width: 50px;
  height: 50px;
  padding: 2px;
  margin: 0 auto;
  position: relative;
}

.all_projects #carousel_section #carousel_nav a.first_point::after {
  content: "Всі проекти";
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -80px;
  width: 170px;
}

.all_projects #carousel_section #carousel_nav a.second_point::after {
  content: "Соціальні";
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -73px;
  width: 146px;
}

.all_projects #carousel_section #carousel_nav a.third_point::after {
  content: "Медичні";
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -73px;
  width: 146px;
}

.all_projects #carousel_section .tab-content {
  margin-top: 50px;
}

.all_projects #carousel_section .tab-content .col-lg-4 {
  margin-bottom: 150px;
}

#partners_section {
  margin: 150px 100px;
}

#partners_section header {
  text-align: center;
  margin-top: 100px;
}

#partners_section header h2 {
  margin-bottom: 50px;
  text-align: center;
}

#partners_section header p {
  font-size: 2em;
  margin-bottom: 100px;
}

#partners_section img {
  display: block;
}

#partners_section h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#partners_section p {
  text-align: center;
}

#contact_page_content {
  margin: 150px 100px;
}

#contact_page_content article {
  margin-bottom: 50px;
}

#contact_page_content h2 {
  margin-bottom: 50px;
}

#contact_page_content h3 {
  font-weight: 700;
  margin-bottom: 50px;
}

#contact_page_content p {
  font-size: 2.2em;
}

#contacts_section {
  margin-bottom: 100px;
}

#contacts_section h2 {
  margin-bottom: 50px;
}

#contacts_section p {
  font-size: 2.2em;
}

#contacts_section .icons_block {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

#contacts_section .icons_block a {
  color: #ff5051;
  display: inline-block;
  font-size: 6em;
  margin-right: 30px;
  text-align: center;
  text-decoration: none;
}

#contacts_section h3 {
  text-align: center;
}

#footer_section {
  -webkit-box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);
          box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);
  padding-bottom: 100px;
  position: relative;
  padding-top: 50px;
}

#footer_section .footer_nav ul {
  list-style-type: none;
}

#footer_section .footer_nav ul li {
  margin-bottom: 20px;
}

#footer_section .footer_nav ul li a {
  color: #2a2727;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-decoration: none;
}

#footer_section .footer_arrow {
  position: absolute;
  width: 500px;
  top: 0;
  left: 50%;
  margin-left: -250px;
  text-align: center;
}

#footer_section .footer_arrow a {
  color: #ff5051;
  font-size: 7em;
  text-decoration: none;
}

#footer_section .footer_arrow h2 {
  color: #ff5051;
  margin-bottom: 0;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */