
@media screen and (max-width: 1845px) {

    /* #big_screen_menu {
        display: none;  
    }

    #menu_section #toggle {
        display: block;
    } */

    #menu_section #overlay {
        display: block;
    }

    #about_us_page .about-us_team .img_border {
        width: 800px;
        height: 500px;
    }

    #about_us_page .about-us_team .img_effect {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 1600px) {

    #menu_section ul li a {
        font-size: 1.5em;
    }

    #menu_section ul li {
        margin-right: 20px;
    }

    #parallax_img2 {
        top: 2400px;
    }

    #parallax_img3 {
        top: 4200px;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 1.7em;
    }

    .header_content_wrapper h2 {
        margin-bottom: 50px;
    }

    .img_effect {
        width: 451px;
        height: 600px;
        margin-left: 100px;
    }

    .img_border {
        width: 451px;
        height: 600px;
        margin-left: 100px;
    }

    .header_content_wrapper header {
        margin-top: 50px;
    }


    #aim_section .right_side h2 {
        font-size: 6em;
        top: 340px;
        margin-left: -310px;
        width: 620px;
        text-align: center;
        margin-bottom: 50px;
    }

    #aim_section .right_side article header {
        font-size: 3em;
        width: 480px;
        margin-bottom: 50px;
        text-align: center;
    }

    #aim_section .right_side article {
        margin-top: 80px;
        width: 500px;
    }

    #aim_section .left_side h2 {
        font-size: 4.5em;
        margin-top: 30px;
    }

    #aim_section .right_side article p {
        font-size: 1.2em;
    }

    a.carousel_btn {
        width: 300px;
        margin-left: -150px;
    }

    .item_content p {
        font-size: 1.2em;
    }

    #carousel_section .arrows_block a {
        font-size: 2em;
    }

    #carousel_section .arrows_block .img_left, #carousel_section .arrows_block .img_right {
        width: 300px;
    }

    #insert p {
        font-size: 1.5em;
    }

    #insert .carousel_btn {
        width: 500px;
        margin-left: 50px;
        font-size: 2.5em;
        bottom: 280px;
    }

    #about_us_section {
        margin-top: 150px;
        margin-bottom: 100px;
        height: 650px;
    }

    #about_us_section p {
        padding-right: 50px;
        font-size: 1.2em;
    }

    #about_us_section .bd_btn {
        font-size: 1.5em;
        display: block;
        margin: 50px auto;
        padding: 8px;
        width: 400px;
    }


    #about_us_page p {
        padding-right: 0;
        font-size: 1.5em;
    }

    #about_us_page .about-us_team {
        height: 450px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    #about_us_page .about-us_team .img_effect {
        margin-left: 0;
    }

    #about_us_page .about-us_team .img_border {
        width: 700px;
        height: 450px;
        margin-left: 0;
        top: 10px;
    }

    #about_us_page h3 {
        font-size: 2.5em;
    }

}


@media screen and (max-width: 1400px) {

    #menu_section ul li a {
        font-size: 1.3em;
    }

    #parallax_img2 {
        top: 2200px;
    }

    #parallax_img3 {
        top: 4000px;
    }

    #parallax_img8 {
        top: 400px;
    }

    h2 {
        font-size: 3em;
    }

    #carousel_section h2 {
        padding-top: 30px;
    }

    .img_effect {
        width: 376px;
        height: 500px;
        margin-left: 100px;
    }

    .img_border {
        width: 376px;
        height: 500px;
        margin-left: 100px;
    }

    #aim_section .right_side article {
        margin-top: 80px;
    }

    #about_us_section h2 {
        margin-bottom: 25px;
    }

    #about_us_section article {
        margin-top: 25px;
    }

    #about_us_section p {
        font-size: 1.1em;
    }

    #about_us_section h4 {
        font-size: 1em;
    }

    #about_us_section .bd_btn {
        font-size: 1.3em;
        display: block;
        width: 465px;
        margin: 50px auto;
        padding: 6px;
        width: 300px;
    }

    #about_us_page .about-us_founder {
        height: 560px;
    }

    #about_us_page h2 {
        margin-bottom: 30px;
    }

    #about_us_page p {
        padding-right: 0;
        font-size: 1.2em;
    }

    #about_us_page .about-us_team .img_border {
        width: 550px;
        height: 340px;
        margin-left: 0;
        top: 45px;
    }

    #about_us_page h3 {
        font-size: 2.2em;
        margin-bottom: 40px;
    }

    .all_projects #carousel_section h2 {
        margin-top: 35px;
        margin-bottom: 60px;
    }

    #contact_page_content p {
        font-size: 1.7em;
    }

    #project_section {
        margin: 150px 50px;
        margin-top: 130px;
    }

    #project_section h3 {
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
        font-size: 2.3em;
    }
    
    #project_section p {
        font-family: "Open Sans", sans-serif;
        font-size: 1.3em;
    }

    #project_section article.list_wrapper p {
        font-size: 1.7em;
    }

    #project_section article.list_wrapper ul li {
        font-size: 1.7em;
    }

}

@media screen and (max-width: 1300px) {

    #big_screen_menu {
        display: none;  
    }

    #menu_section #toggle {
        display: block;
    }

    #parallax_img2 {
        top: 2000px;
    }

    #parallax_img3 {
        top: 3800px;
    }

    #parallax_img5 {
        z-index: 0;
    }

    #parallax_img6 {
        z-index: 0;
    }

    #about_us_page .about-us_founder {
        height: 590px;
        padding-top: 30px;
    }

    .header_content_wrapper .btn_container a {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.1em;
    }

    .item_content p {
        font-size: 1em;
    }

    #carousel_section h2 {
        padding-top: 30px;
    }

    #aim_section .right_side h2 {
        font-size: 5em;
        top: 355px;
        margin-left: -252px;
        width: 504px;
        text-align: center;
        margin-bottom: 50px;
    }

    #aim_section .left_side h2 {
        font-size: 4em;
        margin-top: 20px;
    }

    #aim_section .right_side article header {
        font-size: 2.5em;
        width: 410px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #aim_section .right_side article {
        width: 430px;
    }

    #aim_section .right_side article p {
        font-size: 1em;
    }

    .img_border {
        margin-top: 0;
    }

    .img_effect {
        margin-top: 30px;
    }

    #insert .carousel_btn {
        width: 350px;
        font-size: 1.7em;
        margin-left: 50px;
        bottom: 200px;
    }

    .item_content {
        height: 300px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .item_content h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .item_content p {
        font-size: 1em;
    }

    #carousel_section .arrows_block a {
        font-size: 1.5em;
        width: 350px;
        border: 7px solid #ffd194;
    }

    a.carousel_btn {
        width: 240px;
        margin-left: -120px;
        font-size: 1.5em;
    }

    #insert p {
        font-size: 1.3em;
    }

    #about_us_section {
        margin-bottom: 100px;
        height: 550px;
    }

    #about_us_section h2 {
        margin-bottom: 25px;
    }

    #about_us_section article {
        margin-top: 25px;
    }

    #about_us_section p {
        font-size: 1.1em;
    }

    #about_us_section img, #about_us_section .img_border {
        margin-left: 50px;
    }

    #about_us_section .img_border:hover {
        left: -20px;
        top: 30px;
    }

    #about_us_section h4 {
        font-size: 1em;
    }

    #about_us_section .bd_btn {
        font-size: 1.3em;
        display: block;
        width: 465px;
        margin: 50px auto;
        padding: 6px;
        width: 300px;
    }
    
}

@media screen and (max-width: 1199px) {

    h2 {
        margin-bottom: 60px;
    }

    #blog_section .col-lg-6 {
        margin-bottom: 100px;
    }

    #partners_section {
        margin: 100px 100px;
    }

    #insert {
        margin-bottom: 60px;
    }

    #partners_section {
        margin: 100px 0;
    }

    #about_us_page {
        margin: 100px 0;
    }

    #project_section .carousel_btn {
        width: 410px;
    }

    #project_section article.list_wrapper p {
        font-size: 1.5em;
    }

    #project_section article.list_wrapper ul li {
        font-size: 1.5em;
    }

    /* #project_section #btn_wrapper {
        margin-top: 50px;
    } */

}

@media screen and (max-width: 1150px) {

    svg.circle-chart {
        width: 330px;
        height: 330px;
    }

    svg g text.circle-chart__percent {
        font-size: .5em;
    }

    #aim_section .right_side h2 {
        font-size: 4.5em;
        top: 355px;
        margin-left: -230px;
        width: 460px;
    }

    #aim_section .left_side h2 {
        font-size: 3.5em;
        margin-top: 20px;
    }

    #carousel_section #carousel_nav {
        width: 400px;
    }

    #carousel_section #carousel_nav a {
        font-size: 1.5em;
    }

    #header_section img {
        width: auto;
        height: auto;
    }

    #about_us_section img {
        width: auto;
        height: auto;
    }

    .img_border {
        width: 300px;
        height: 470px;
    }

    .img_effect, .img_border {
        margin-left: 0;
        margin-top: 0;
    }

    #carousel_section .arrows_block .img_left, #carousel_section .arrows_block .img_right {
        width: 240px;
    }

    #carousel_section .arrows_block a {
        font-size: 1.3em;
        width: 300px;
        border: 5px solid #ffd194;
    }

    #about_us_section .img_border:hover {
        left: -20px;
        top: 30px;
    }

    #insert p {
        font-size: 1.1em;
    }

    #insert .carousel_btn {
        width: 300px;
        font-size: 1.5em;
        bottom: 200px;
    }

    #about_us_section p {
        font-size: 1em;
    }

    #about_us_section .bd_btn {
        font-size: 1.2em;
        margin: 40px auto;
        padding: 5px;
        width: 270px;
        border: 4px solid #ff5051;
    }

    #about_us_section {
        margin-bottom: 50px;
        height: 550px;
    }

    #contacts_section .icons_block a {
        font-size: 5em;
    }

    #about_us_page p {
        padding-right: 50px;
        font-size: 1em;
    }

    #about_us_page .about-us_team p {
        padding-right: 0;
    }

    #about_us_page .about-us_projects p {
        padding-right: 0;
    }

    #about_us_page img {
        width: auto;
        height: auto;
        margin-left: -50px;
    }

    #partners_section header {
        margin-top: 130px;
    }

    #partners_section header h2 {
        margin-bottom: 30px;
    }

    #partners_section header p {
        font-size: 1.5em;
        margin-bottom: 50px;
    }

    #partners_section h3 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #owl-4 .item h3 {
        font-size: 1.7em;
    }

    #owl-4 .item p {
        font-size: 1.2em;
    }

    #partners_section header#partners_second_header {
        margin-top: 50px;
    }

    .all_projects {
        margin-top: 120px;
    }

    .all_projects #carousel_section .tab-content {
        margin-top: 50px;
    }

    .all_projects #carousel_section h2 {
        margin-top: 35px;
        margin-bottom: 40px;
    }

    .all_projects .item_content h3 {
        font-size: 1.4em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .all_projects .item_content p {
        font-size: .9em;
    }

    .all_projects #carousel_section #carousel_nav a {
        font-size: 1.12em;
        width: 40px;
        height: 40px;
    }

    .all_projects #carousel_section #carousel_nav a.first_point::after {
        width: 150px;
        top: 80px;
    }

    .all_projects #carousel_section #carousel_nav a.second_point::after {
        margin-left: -63px;
        width: 130px;
        top: 80px;
    }

    .all_projects #carousel_section #carousel_nav a.third_point::after {
        margin-left: -65px;
        width: 135px;
        top: 80px;
    }

    #contact_page_content {
        margin: 0;
        margin-top: 130px;
    }

    #contact_page_content h3 {
        font-weight: 700;
        margin-bottom: 30px;
    }

    #contact_page_content p {
        font-size: 1.3em;
    }

    #project_section h3 {
        font-size: 2em;
    }

    #project_section p {
        font-size: 1.1em;
    }

    #project_section article.list_wrapper p {
        font-size: 1.3em;
    }

    #project_section article.list_wrapper ul li {
        font-size: 1.3em;
    }

}


@media screen and (max-width: 991px) {

    .margin-wrapper {
       margin: 0;
    }

    #about_us_section img {
        margin-left: 0;
    }

    #about_us_section img, #about_us_section .img_border {
        margin-left: 0;
    }

    .header_content_wrapper .btn_container a {
        font-size: 1em;
        width: 215px;
        border: 4px solid #ff5051;
    }

    .header_content_wrapper p {
        font-size: 1.5em;
        text-align: center;
        margin-top: 20px;
    }

    .modal-content .close {
        font-size: 3em;
    }

    .modal-content form {
        margin-left: 20px;
        margin-right: 20px;
    }

    .modal-content form input[type="text"] {
        border: 3px solid #ffffff;
    }

    .modal-content form textarea {
        border: 3px solid #ffffff;
    }

    .modal-content form input[type="submit"] {
        border: 3px solid #ffffff;
    }


    #about_us_page img, #about_us_page .img_border {
        margin-left: 0;
    }

    #about_us_page .about-us_team .img_border {
        width: 450px;
        height: 250px;
    }

    .all_projects {
        margin: 0;
        margin-top: 120px;
    }

    .all_projects #carousel_section .tab-content {
        margin-top: 70px;
    }

    .all_projects #carousel_section .tab-content .col-lg-4 {
        margin-bottom: 100px;
    }

    .all_projects .item_content h3 {
        font-size: 1.7em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .all_projects .item_content p {
        font-size: 1.2em;
    }   

    #project_section {
        margin: 0;
        margin-top: 120px;
        margin-bottom: 120px;
    }

    #project_section h2 {
        margin-bottom: 30px;
    }

    #project_section .documents {
        margin-bottom: 90px;
    }

    #project_section .col-lg-6 {
        margin-top: 50px;
    }

}

@media screen and (max-width: 960px) {

    .header_content_wrapper {
        padding-top: 100px;
    }

    #aim_section {
        padding-top: 100px;
    }

    .img_effect, .img_border {
        top: 10px;
    }

    .img_border:hover {
        left: 50px;
        top: 10px;
    }

    .img_border:hover + .img_effect {
        margin-left: 0;
        margin-top: 0;
    }

    #about_us_section .img_border:hover {
        left: 50px;
        top: 10px;
    }

    .footer_nav {
        display: none;
    }
    
    #footer_section {
        padding-bottom: 200px;
    }

    #about_us_page .img_border {
        width: 280px;
        height: 395px;
    }

    #about_us_page .about-us_team {
        height: 370px;
        margin-top: 50px;
        margin-bottom: 35px;
    }
}


@media screen and (max-width: 910px) {

    #aim_section .right_side h2 {
        font-size: 3.5em;
        top: 430px;
        margin-left: -176px;
        width: 352px;
    }

    #aim_section .right_side article header {
        font-size: 2em;
        width: 330px;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    #aim_section .right_side article {
        margin-top: 120px;
    }

    #aim_section .left_side h2 {
        font-size: 3em;
        margin-top: 25px;
    }

    #aim_section .left_side .carousel_btn {
        bottom: 50px;
    }

    #aim_section .right_side article .carousel_btn {
        bottom: 50px;
    }

    #about_us_page .about-us_team {
        height: 360px;
        margin-top: 0;
        margin-bottom: 35px;
    }

}


@media screen and (max-width: 850px) {

    h2 {
        font-size: 2.5em;
    }

    .header_content_wrapper .btn_container a {
        padding: 5px;
        margin-bottom: 25px;
    }

    .header_content_wrapper header {
        margin-top: 60px;
    }

    #aim_section {
        padding-top: 0;
    }

    #aim_section .right_side article {
        width: 345px;
    }

    #carousel_section h2 {
        padding-top: 25px;
    }

    #carousel_section #carousel_nav a {
        border-radius: 50px;
        font-size: 1.2em;
        width: 30px;
        height: 30px;
        padding: 2px;
        margin: 0 auto;
    }

    #carousel_section #carousel_nav {
        width: 320px;
        border: 4px solid #ff5051;
    }

    #carousel_section #carousel_nav a.first_point::after {
        top: 50px;
        margin-left: -70px;
        width: 140px;
    }

    #carousel_section #carousel_nav a.second_point::after {
        top: 50px;
        margin-left: -60px;
        width: 120px;
    }

    .img_border {
        width: 300px;
        height: 410px;
    }

    .header_content_wrapper h2 {
        margin-bottom: 25px;
    }

    .header_content_wrapper .btn_container {
        margin-top: 35px;
    }

    #carousel_section {
        margin-bottom: 70px;
    }

    #contacts_section p {
        font-size: 1.7em;
    }

    #footer_section .footer_nav ul li {
        margin-bottom: 15px;
    }

    #footer_section .footer_nav ul li a {
        font-size: 1.5em;
    }

    #about_us_page .about-us_team {
        height: 400px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    #about_us_page .about-us_team .img_effect {
        margin-top: 65px;
    }

    #about_us_page .about-us_team .img_border {
        width: 370px;
        height: 200px;
        top: 90px;
    }

    .all_projects #carousel_section h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .all_projects #carousel_section #carousel_nav a {
        font-size: 1em;
        width: 40px;
        height: 40px;
    }

    .all_projects #carousel_section #carousel_nav a.first_point::after {
        width: 120px;
        top: 70px;
        margin-left: -65px;
    }

    .all_projects #carousel_section #carousel_nav a.second_point::after {
        margin-left: -43px;
        width: 100px;
        top: 70px;
    }

    .all_projects #carousel_section #carousel_nav a.third_point::after {
        margin-left: -35px;
        width: 85px;
        top: 70px;
    }

    #project_section .carousel_btn {
        width: 340px;
        font-size: 1.2em;
    }

}


@media screen and (max-width: 800px) {

    .header_content_wrapper header {
        margin-top: 40px;
    }

    #about_us_section img, #about_us_section .img_border {
        margin-left: -50px;
    }

    #contacts_section .icons_block {
        margin-bottom: 20px;
    }

    #contacts_section .icons_block a {
        font-size: 4em;
    }

    #about_us_page p {
        padding-right: 50px;
        font-size: .9em;    
    }

    #about_us_page img, #about_us_page .img_border {
        margin-left: -50px;
    }

    .all_projects #carousel_section #carousel_nav a {
        font-size: 1em;
        width: 30px;
        height: 30px;
    }

}


@media screen and (max-width: 768px) {

    .header_content_wrapper {
        padding-top: 125px;
    }

    .img_border {
        width: 250px;
        height: 350px;
    }

    .header_content_wrapper header {
        margin-top: 0;
    }

    #carousel_section .arrows_block .img_left, #carousel_section .arrows_block .img_right {
        width: 180px;
    }

    #carousel_section .arrows_block a {
        font-size: 1.1em;
        width: 270px;
        border: 5px solid #ffd194;
        padding: 4px;
    }

    #blog_section {
        margin-bottom: 0;
    }

    #partners_section {
        margin: 30px 0;
    }

    #about_us_section {
        margin-top: 70px;
    }

    #about_us_section .bd_btn {
        margin-left: 0;
    }

    #insert .carousel_btn {
        width: 280px;
        font-size: 1.3em;
        bottom: 150px;
    }

    #about_us_page .img_border {
        width: 250px;
        height: 350px;
    }

    #about_us_page .about-us_team {
        height: 400px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    #about_us_page h3 {
        font-size: 2em;
        margin-bottom: 40px;
    }

    #partners_section header h2 {
        margin-bottom: 20px;
    }

    #partners_section header p {
        font-size: 1.3em;
        margin-bottom: 40px;
    }

}


@media screen and (max-width: 767px) {

    #aim_section {
        height: 1730px;
    }

    #aim_section .right_side {
        float: none;
        width: 100%;
        height: 930px;
        position: relative;
    }

    #aim_section .left_side {
        float: none;
        width: 100%;
        height: 800px;
        padding-top: 50px;
    }

    #carousel_section h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    #carousel_section #carousel_nav {
        margin-bottom: 75px;
    }

    #about_us_page .about-us_team {
        height: auto;
        margin-top: 0;
        margin-bottom: 50px;
    }

    #about_us_page .about-us_team .img_border {
        width: 250px;
        height: 130px;
        top: 70px;
        left: 25px;
    }

    #about_us_page .about-us_team .img_effect {
        margin-top: 43px;
    }

    .all_projects {
        margin-top: 90px;
    }

    .all_projects #carousel_section h2 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .all_projects .item_content h3 {
        font-size: 1.7em;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .all_projects #carousel_section .tab-content {
        margin-top: 20px;
    }

    .all_projects .item_content {
        height: 250px;
        padding-left: 55px;
        padding-right: 55px;
    }

    #contact_page_content h3 {
        font-weight: 700;
        margin-bottom: 10px;
    }

    #contact_page_content h2 {
        margin-bottom: 35px;
    }

    #contact_page_content article {
        margin-bottom: 25px;
    }

    #contact_page_content .col-lg-4 {
        margin-bottom: 20px;
    }

    #big_screen_block {
        display: none;
    }

    #project_section #small_screen_block {
        display: block;
    }

    #project_section article.list_wrapper {
        width: 305px;
        margin: 0 auto;
        text-align: left;
    }

    #project_section article.list_wrapper ul {
        list-style: none;
        text-align: left;
        padding-left: 0;
    }

    #project_section #btn_wrapper .col-lg-6 {
        margin-top: 30px;
    }

}


@media screen and (max-width: 700px) {

    .header_content_wrapper {
        padding-top: 170px;
    }

    #carousel_section .arrows_block .img_left, #carousel_section .arrows_block .img_right {
        width: 150px;
    }

    #insert p {
        margin: 0;
    }

    #insert .carousel_btn {
        width: 240px;
        font-size: 1.1em;
        bottom: 110px;
    }

    a.carousel_btn {
        width: 200px;
        margin-left: -100px;
        font-size: 1.1em;
    }

    #about_us_section .bd_btn {
        font-size: 1.1em;
        padding: 2px;
        width: 240px;
        border: 3px solid #ff5051;
    }

    #about_us_page .about-us_founder {
        height: auto;
        padding-top: 30px;
        margin-bottom: 50px;
    }

    #about_us_page img, #about_us_page .img_border {
        margin-top: 60px;
    }

    #about_us_page .img_border {
        left: 4px;
        top: 30px;
    }
   
    #about_us_page .about-us_team .img_border {
        width: 200px;
        height: 90px;
        top: 70px;
        left: 25px;
    }

    .all_projects .item_content {
        height: 250px;
        padding-left: 25px;
        padding-right: 25px;
    }

}

@media screen and (max-width: 600px) {

    .header_content_wrapper header {
        margin-top: -38px;
    }

    .img_border {
        width: 160px;
        height: 260px;
    }

    .item_content p {
        font-size: .9em;
    }

    .item h4 {
        margin-top: 20px;
    }

    .item {
        padding-bottom: 80px;
    }

    .item_content {
        height: 310px;
    }

    #insert p {
        font-size: 1em;
    }

    #insert .carousel_btn {
        font-size: 1.1em;
        bottom: 50px;
        margin-left: 0;
    }

    #carousel_section .arrows_block .img_left, #carousel_section .arrows_block .img_right {
        width: 130px;
    }

    #about_us_section {
        margin-bottom: 50px;
        height: 550px;
    }

    #about_us_section p {
        font-size: .9em;
        padding-right: 0;
    }

    #contacts_section p {
        font-size: 1.5em;
    }

    #footer_section .footer_nav ul li a {
        font-size: 1.2em;
    }

    #about_us_page .img_border {
        width: 220px;
        height: 300px;
    }

    #about_us_page img, #about_us_page .img_border {
        margin-top: 100px;
    }

    #about_us_page .about-us_founder {
        padding-top: 20px;
        height: auto;
    }

    #about_us_page article {
        margin-top: 20px;
    }

    #about_us_page .about-us_team .img_border {
        width: 200px;
        height: 90px;
        top: 10px;
        left: 25px;
    }

    #about_us_page .about-us_team .img_effect {
        margin-top: 85px;
    }

    .all_projects .item_content {
        height: 250px;
        padding-left: 0;
        padding-right: 0;
    }

}



@media screen and (max-width: 575px) {

    #menu_section .overlay ul li a {
        font-size: 1em;
    }

    /* .left_side svg.circle-chart {
        width: 330px;
        height: 330px;
    }

    .left_side svg g text.circle-chart__percent {
        font-size: .5em;
    } */

    .left_side svg g text.circle-chart__percent {
        /* font-size: .5em; */
    }

    h2 {
        font-size: 2.5em;
        text-align: center;
    }

    h3 {
        font-size: 1.7em;
    }

    #menu_section h2 {
        font-size: 2.8em;
        margin-top: 18px;   
    }

    .header_content_wrapper {
        background-image: url("../img/header_section/src/3.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 0;
    }

    .header_content_wrapper header {
        margin-top: 0;
    }

    .header_content_wrapper .btn_container a {
        padding: 5px;
        margin-bottom: 25px;
        color: #fff;
        background: #ffd194;
        background: -webkit-gradient(linear, right top, left top, from(#ff5051), to(#ffd194));
        background: linear-gradient(to left, #ff5051 0%, #ffd194 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ff5051, endColorstr=#ffd194);
        -webkit-box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);
        box-shadow: -4px -1px 12px 1px rgba(19, 20, 23, 0.16);
        border: none;
    }

    .header_content_wrapper h2 {
        color: #fff;
    }

    .header_content_wrapper p {
        color: #fff;
    }

    #aim_section {
        height: 1820px;
        padding-top: 100px;
    }

    #insert .carousel_btn {
        font-size: 1.1em;
        bottom: 85px;
        margin-left: -120px;
        left: 50%;
    }

    #carousel_section .arrows_block .img_left, #carousel_section .arrows_block .img_right {
        display: none;
    }

    .img_effect, .img_border {
        display: none;
    }

    .item {
        padding-bottom: 60px;
    }

    .item_content {
        height: 200px;
    }

    .item_content p {
        font-size: 1.1em;
    }

    #about_us_section {
        margin-bottom: 50px;
        height: 100%;
    }

    #about_us_section h2 {
        text-align: center;
    }

    #about_us_section  .small_screen_img {
        display: block;
        margin: 50px auto;
    }

    #about_us_section p {
        font-size: 1em;
    }

    #contacts_section h2 {
        margin-bottom: 40px;
    }

    #contacts_section .icons_block {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    #contacts_section .icons_block a {
        font-size: 3.5em;
        margin-right: 12px;
    }

    #about_us_section .bd_btn {
        margin: 50px auto;
    }

    .modal-content .close {
        font-size: 3em;
    }

    .modal-content form {
        margin-left: 5px;
        margin-right: 5px;
    }

    .modal-content form input[type="text"] {
        border: 2px solid #ffffff;
        font-size: 1.3em;
    }

    .modal-content form textarea {
        border: 2px solid #ffffff;
        font-size: 1.3em;
    }

    .modal-content form input[type="submit"] {
        border: 3px solid #ffffff;
        font-size: 1.3em;
        width: 220px;
        padding: 5px;
    }

    #about_us_page img.small_screen_img {
        margin: 30px auto;
        display: block;
    }

    #about_us_page p {
        padding-right: 0;
    }

    #about_us_page h3 {
        font-size: 2em;
        margin-bottom: 0;
    }

    #about_us_page .about-us_projects h3 {
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 450px) {

    #menu_section .overlay ul li a {
        font-size: .8em;
    }

    .header_content_wrapper {
        background-image: url("../img/header_section/src/4.jpg");
    }

    svg.circle-chart {
        width: 300px;
        height: 300px;
    }

    svg g text.circle-chart__percent {
        font-size: .5em;
    }

    h3 {
        font-size: 1.3em;
    }

    .item_content p {
        font-size: 1em;
    }

    #insert .carousel_btn {
        font-size: 1.1em;
        bottom: 30px;
        margin-left: -120px;
        left: 50%;
    }

    #aim_section .right_side h2 {
        font-size: 3.5em;
        top: 430px;
        margin-left: 0;
        width: 100%;
        left: 0;
    }

    #aim_section .right_side article {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #aim_section .right_side article header {
        font-size: 1.8em;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    #carousel_section #carousel_nav {
        width: 290px;
        border: 4px solid #ff5051;
    }

    #aim_section .right_side article .carousel_btn {
        bottom: 70px;
    }

    #contacts_section p {
        font-size: 1.2em;
    }

    #about_us_page h3 {
        font-size: 1.8em;
        text-align: center;
    }

    #about_us_page .about-us_projects h3 {
        margin-bottom: 30px;
    }

    #about_us_page .about-us_projects p {
        margin-top: 30px;
    }

    #partners_section header {
        text-align: center;
        margin-top: 130px;
    }

    #partners_section header h2 {
        margin-bottom: 30px;
    }

    #partners_section header p {
        margin-bottom: 30px;
    }

    .all_projects .item_content h3 {
        font-size: 1.5em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .all_projects .item_content p {
        font-size: 1em;
    }

    #contact_page_content h3 {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    #contact_page_content .col-lg-4 {
        margin-bottom: 10px;
    }

    #project_section h3 {
        font-size: 1.7em;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #project_section p {
        font-size: 1em;
    }

    #project_section article.list_wrapper p {
        font-size: 1.2em;
    }

}


@media screen and (max-width: 375px) {

    #menu_section h2 {
        font-size: 2.5em;
        margin-top: 20px;
    }

    .item_content p {
        font-size: .9em;
    }

    .all_projects #carousel_section #carousel_nav a {
        font-size: .9em;
    }

    .all_projects #carousel_section #carousel_nav a.first_point::after {
        width: 100px;
        margin-left: -55px;
    }

    .all_projects #carousel_section #carousel_nav a.second_point::after {
        margin-left: -35px;
        width: 80px;
    }

    .all_projects #carousel_section #carousel_nav a.third_point::after {
        margin-left: -30px;
        top: 70px;
    }

}


@media screen and (max-width: 350px) {

    h2 {
        font-size: 2em;
        text-align: center;
    }

    .header_content_wrapper header {
        margin-top: 80px;
    }

    #menu_section h2 {
        font-size: 2em;
        margin-top: 27px;
    }

    #about_us_section {
        margin-bottom: 20px;
        height: 100%;
    }

    .item_content p {
        font-size: .85em;
    }

    #aim_section .right_side h2 {
        font-size: 3em;
    }

    svg.circle-chart {
        width: 250px;
        height: 250px;
    }

    #contacts_section p {
        font-size: 1.1em;
    }

    .modal-content .close {
        font-size: 2em;
    }

    .modal-content form input[type="text"] {
        font-size: 1em;
        height: 55px;
    }
    
    .modal-content form textarea {
        font-size: 1em;
    }

    #project_section .carousel_btn {
        width: 280px;
        font-size: .95em;
    }

    #project_section article.list_wrapper {
        width: 280px;
    }

    #project_section p {
        font-size: .9em;
    }

}


/* ---------------------------- */

@media screen and (min-height: 1024px) {

    .header_content_wrapper {
        display: none;
    }

    #header_section .header_content_wrapper_small_screen {
        display: block;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .header_content_wrapper_small_screen .btn_container a {
        display: inline-block;
        padding: 5px;
        margin-bottom: 25px;
        font-size: 1em;
        width: 215px;
        border: 4px solid #ff5051;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header_content_wrapper_small_screen h2 {
        font-size: 3em;
        margin-bottom: 30px;    
    }

    .header_content_wrapper_small_screen p {
        margin-bottom: 30px;
    }

    #aim_section {
        padding-top: 0;
    }
}


@media (max-height: 1080px) and (min-width: 1920px) {

    #header_section .header_content_wrapper_small_screen {
        display: none;
    }

    .header_content_wrapper {
        display: block;
    }

}


@media screen and (max-height: 850px) {
    .header_content_wrapper {
        display: block;
    }

    #header_section .header_content_wrapper_small_screen {
        display: none;
    }
}

@media screen and (max-width: 450px) {

    .header_content_wrapper {
        display: flex;
        background-image: url("../img/header_section/src/4.jpg");
    }
}


@media screen and (max-height: 535px) {

    .header_content_wrapper {
        display: none;
    }

    #header_section .header_content_wrapper_small_screen {
        display: block;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .header_content_wrapper_small_screen .btn_container a {
        display: inline-block;
        padding: 5px;
        margin-bottom: 25px;
        font-size: 1em;
        width: 215px;
        border: 4px solid #ff5051;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header_content_wrapper_small_screen h2 {
        font-size: 3em;
        margin-bottom: 30px;    
    }

    .header_content_wrapper_small_screen p {
        margin-bottom: 30px;
    }

    #aim_section {
        padding-top: 0;
    }
}

@media screen and (max-height: 480px) {

    #header_section .header_content_wrapper_small_screen {
        padding-top: 75px;
    }

    .header_content_wrapper_small_screen h2 {
        font-size: 2.5em;
        margin-bottom: 20px;    
    }

    .header_content_wrapper_small_screen p {
        font-size: 1.2em;
    }

}


@media screen and (max-height: 375px) {

    .header_content_wrapper_small_screen h2 {
        font-size: 2.7em;
        margin-bottom: 20px;    
    }

    #menu_section {
        height: 70px;
    }

    #menu_section h2 {
        font-size: 2.5em;
        margin-top: 14px;
    }

    .button_container {
        top: 20px;
    }

    #header_section .header_content_wrapper_small_screen {
        padding-top: 65px;
    }

    .header_content_wrapper_small_screen .btn_container a {
        display: inline-block;
        width: 200px;
        font-size: .9em;
    }

}

@media screen and (max-height: 320px) {

    .header_content_wrapper header {
        margin-top: 70px;
    }

    .header_content_wrapper h2 {
        font-size: 2em;
        margin-bottom: 20px;    
    }

    .header_content_wrapper p {
        font-size: 1.2em;
    }

    .header_content_wrapper {
        display: block;
        padding-top: 35px;
    }

    .header_content_wrapper .btn_container a {
        width: 200px;
    }

    #header_section .header_content_wrapper_small_screen {
        display: none;
    }

    .header_content_wrapper_small_screen h2 {
        font-size: 2.2em;
        margin-bottom: 15px;
    }

    .header_content_wrapper_small_screen p {
        margin-bottom: 25px;
        font-size: 1.3em;
    }

    #aim_section {
        padding-top: 50px;
    }

}





