
body.hidden_small_screen {
  overflow: hidden;
}

.button_container {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .9;
}

.button_container.active .top {
  -webkit-transform: translateY(25px) translateX(0) rotate(45deg);
          transform: translateY(25px) translateX(0) rotate(45deg);
  background: #ff5051;
}

.button_container.active .middle {
  opacity: 0;
  background: #ff5051;
}

.button_container.active .bottom {
  -webkit-transform: translateY(0px) translateX(0) rotate(-45deg);
          transform: translateY(0px) translateX(0) rotate(-45deg);
  background: #ff5051;
}

.button_container span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 12px;
}

.button_container span:nth-of-type(3) {
  top: 24px;
}

.overlay {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: none;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 99;
}

.overlay nav {
  background-color: #fff;
}

.overlay nav ul li {
  color: #0e0202;
  cursor: pointer;
}

.overlay nav ul li a {
  color: #0e0202;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
#menu_section .overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
}
#menu_section .overlay ul {
  float: none;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
#menu_section .overlay ul li {
  display: block;
  float: none;
  height: calc(100% / 6);
  position: relative;
  opacity: 0;
}
#menu_section .overlay ul li a {
  display: block;
  font-size: 1.4em;
  position: relative;
  color: #ff5051;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
#menu_section .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
#menu_section .overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background: #ff5051;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
